table, th, td {
  border-collapse: collapse;
  text-align: center;
  line-height: 30px;
  width: 1200px;
  margin-top: 10px;
}

.pageBtn {
  width: 400px;
  height: 50px;
  position: relative;
  margin: 0px auto;
  margin-top: 20px;
}

.pageBtn .sumPagesShow {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageBtn .changePage {
  width: 80px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 150px;
  display: flex;
  justify-content: space-between;
}

.pageBtn .changePage .changeBtn {
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 3px;
}

.pageBtn .changePage .page {
  width: 20px;
  height: 20px;
  background-color: #7999F0;
  color: #000;
  text-align: center;
  border: none;
  border-radius: 3px;
}

.pageBtn .changePage img {
  position: absolute;
  top: 3px;
}

.pageBtn .changeInput {
  width: 100px;
  display: block;
  position: absolute;
  left: 260px;
  top: 15px;
}

.pageBtn .changeInput input {
  width: 25px;
  height: 20px;
  outline: none;
  text-indent: 8px;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  background-color: #eee;
}

.pageBtn .changeInput button {
  width: 20px;
  height: 20px;
  background-color: #7999F0;
  color: #fff;
  padding: 0;
  border: none;
  border-radius: 3px;
}

.modify, .add {
  width: 400px;
  height: 400px;
  background-color: #d67c7c;
  position: absolute;
  top: 0;
  left: 30%;
  border-radius: 5px;
  padding: 20px 50px;
  display: none;
}

.modify input, .add input {
  outline: none;
  border-radius: 2px;
  border: 1px solid #c4bcbc;
  width: 300px;
  height: 35px;
  margin-top: 10px;
  text-indent: 10px;
}

.modify .btn, .add .btn {
  width: 320px;
  height: 50px;
  position: absolute;
  margin-top: 30px;
  left: 28%;
}

.modify .btn .submit, .add .btn .submit, .modify .btn .cancel, .add .btn .cancel {
  width: 80px;
  height: 35px;
  background-color: #688de4;
  border: none;
  outline: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.modify .btn .submit:hover, .add .btn .submit:hover, .modify .btn .cancel:hover, .add .btn .cancel:hover {
  background-color: #3844ad;
}

.toEdit:hover {
  background-color: chartreuse;
}

.toDelete:hover {
  background-color: #d81414;
}
