* {
  margin: 0;
  padding: 0;
}

body {
  font-family: myFont;
  font-size: 100px;
  background: url("../img/1.jpg") no-repeat;
  background-size: 100%;
  object-fit: fill;
  overflow: hidden;
}

.loginBox {
  display: flow-root;
  position: relative;
  left: 50%;
  width: 400px;
  height: 370px;
  margin-top: 35px;
  transform: translateX(-50%);
  transition: all .5s;
  transform-style: preserve-3d;
}

.loginBox div {
  position: relative;
}

.loginBox .input_Box {
  height: 60px;
  margin-top: 5%;
}

.login, .logon {
  top: 0;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  border-radius: 20px;
  position: absolute;
}

.logon {
  display: none;
  transform: rotateY(180deg);
}

.title {
  color: white;
  font-size: 24px;
  padding-top: 30px;
  margin: 30px 0px;
  user-select: none;
}

button {
  text-align: center;
}

input {
  width: 220px;
  height: 26px;
  margin: 5px;
  outline: none;
  border: none;
  color: white;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  position: absolute;
  left: 20%;
}

.btn {
  width: 60%;
  height: 30px;
  border-radius: 10px;
  border: 0;
  margin: 10px 0px;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(to right, #30cfd0, #330867);
}

.btn:hover {
  box-shadow: 0 0 1px 1px white;
}

.loginBtn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 12px;
  text-decoration: underline;
  background-color: transparent;
}

.loginBtn:hover {
  color: chartreuse;
}

.base_Words, label, .loginBox .err, .loginBox .true {
  display: none;
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.8);
}

label {
  right: 5px;
  width: 33%;
  color: red;
  font-size: 12px;
  padding: 0px 5px;
  border-radius: 5px;
  transform-origin: right;
  transform: translateY(-50%);
}

.loginBox .err, .loginBox .true {
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  font-size: 12px;
  color: white;
  padding: 4px;
  border-radius: 10px;
  z-index: 1;
}

.loginBox .true {
  color: chartreuse;
}
